a {
    cursor: pointer;
    font-family: "Inter",sans-serif;
    height: 34px;
    border: none;
    transition: background-color 0.15s;
    font-size: 18px;
    font-weight: 600;
}
a:active{
    opacity: 0.7;
}
.home{
    background-color: white;
    border-radius: 1px;
    padding: 8px 16px;
    margin-right: 8px;
}

.home:hover{
    background-color:rgba(224,245,253,255); 
}
#log{
    background-color:  rgb(0, 186, 242);
    color: white;
    border-radius: 20px;
    font-weight: 600;
    padding: 2px 20px 2px 20px;

    font-size: 15px;
}
#log:hover{
    background-color:rgb(0, 41, 112);
}
